body {
    background-color: yellowgreen;
    color: black;
    font-family: Helvetica;
    font-size: 14px;
    }
    .reverse {
    background-color: greenyellow !important;
    color: black;
    }
    p {
    padding: 20px;
    }